<div class="alert alert-block alert-error fade in">
	<p>return on investment is <%=number_with_precision @property_statisitc.profit_percentage , scale: 1%>% with a profit of <%=number_with_precision @property_statisitc.profit_per_square, scale: 1%> per square feet</p>
</div>